.container__StartTools {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time__content__reloj {
  font-size: 2.5em;
  font-weight: 600;
}

.time__content__frase {
  font-size: 0.6em;
}

.calendar__content {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  padding-top: 0.6rem;
}

.calendar__content__days,
.calendar__content__calendar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.2rem;
}

.calendar__content__calendar__day,
.calendar__content__days__day {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(0.5em, 1vw + 0.3em, 3.5em);
  cursor: pointer;
  border-radius: 0.2rem;
}

.calendar__content__calendar__day {
  transition: all 0.1s ease-in-out;
}

.calendar__content__calendar__day:hover {
  background-color: #ffffff1f;
  color: var(--color-principal);
}

.calendar__content__calendar__day:hover.dia_actual_true {
  background-color: none;
}

.mes_actual_true {
  color: var(--color-principal);
}

.mes_actual_false {
  color: var(--color-terciario);
}

.dia_actual_true {
  color: #000;
  background-color: var(--color-secundario);
}

.dia_select_true {
  outline: 1px solid #ffffff1f;
  color: var(--color-principal);
}

.mes_actual_false.dia_actual_true {
  color: var(--color-terciario);
  background: none;
}

@media (min-width: 700px) {
  .container__StartTools {
    height: auto;
  }

  .time__content__frase {
    font-size: clamp(0.5em, 0.8vw + 0.2em, 3.5em);
  }

  .time__content__reloj {
    font-size: clamp(0.6em, 0.8vw + 2.3em, 3.5em);
  }

  .calendar__content {
    width: 100%;
    padding-top: 2rem;
  }

  .calendar__content__calendar__day,
  .calendar__content__days__day {
    font-size: clamp(0.3em, 0.9vw + 0.1em, 3.5em);
  }
}
