.about {
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
  position: relative;
}

.main__content-grid__container__about {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
}

.main__content-grid__container__about__title {
  color: var(--color-principal);
  font-size: 1.2em;
}

.title_blue {
  color: var(--color-secundario);
}

.main__content-grid__container__about__text {
  font-size: clamp(0.6em, 0.6vw + 0.2em, 2.5rem);
}

.main__content-grid__container__about__link {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: end;
  gap: 1rem;
}

.main__content-grid__container__about__link__ancord {
  background-color: var(--color-secundario);
  border-radius: var(--border-radius-med);
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__content-grid__container__about__link__ancord__img {
  width: 2rem;
}

.main__content-grid__container__image {
  width: 6rem;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: end;
  justify-content: end;
}

.main__content-grid__container__image__picture__img {
  position: absolute;
  right: -6%;
  bottom: -10%;
  width: 70%;
  max-width: 272px;
}

@media (min-width: 700px) {
  .about {
    grid-template-columns: 2fr 1fr;
    min-height: 16rem;
  }
  .main__content-grid__container__about__title {
    font-size: 2em;
  }
  .main__content-grid__container__image {
    width: auto;
    height: 100%;
    position: relative;
    display: flex;
    align-items: end;
    justify-content: end;
  }

  .main__content-grid__container__image__picture__img {
    position: absolute;
    right: -6%;
    bottom: -10%;
    width: 70%;
    max-width: 272px;
  }
}
