* {
  margin: 0;
  padding: 0;
}

.img {
  width: 10px;
  height: 10px;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-me {
  height: 100%;
  width: 80%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media (min-width: 710px) {
  .main-me {
    width: 50%;
  }
}

.main-me-content {
  text-align: center;
  line-height: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-me-content-h {
  font-weight: 700;
  font-size: var(--font-size-max);
  transition: color 0.4s ease;
  color: var(--color-principal);
}

.main-me-content-h b {
  color: var(--color-secundario);
}

.main-me-content p {
  font-weight: 500;
  transition: color 0.4s ease;
  color: var(--color-terciario);
  opacity: 0.9;
  font-size: var(--font-size-min);
}

.main-me-content-contact {
  width: 6rem;
  display: flex;
  justify-content: space-around;
  margin: auto;
  font-size: 1.2em;
}

.main-me-content-contact a {
  color: var(--color-principal);
  transition: color 0.4s ease;
}

.main-me-content-a {
  position: relative;
  width: 20ch;
  height: 2.5rem;
  margin-top: 1rem;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-max);
  background-color: var(--color-secundario);
  color: var(--color-principal);
  font-weight: 600;
  &&::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: repeating-conic-gradient(
      #1a1a1a0c 0.00000045%,
      #0000001f 0.00005%
    );
    border-radius: var(--border-radius-max);
  }
}
.main-me-content-a:hover {
  filter: brightness(95%);
}

.main-me-content-a-text {
  position: absolute;
  z-index: 8;
}
