.projects-content {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
}

.projects-content__cards {
  width: 90%;
  margin: auto;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  position: relative;
}

.project_work-card_project_work-cards-card {
  width: 100%;
  max-width: 20rem;
}

.details {
  grid-row: -1/1;
  grid-column: -1/1;
}

@media (min-width: 360px) {
  .projects-content__cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 700px) {
  .projects-content__cards {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
}
