.tag__content {
  border-radius: var(--border-radius-med);
  padding: 0.3rem;
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.7em;
  border: 1px solid;
  color: var(--color-principal);
  font-weight: 600;
}

.tag__content__close {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (min-width: 700px) {
  .tag__content {
    font-size: 0.8em;
  }
  .tag__content__text {
    font-size: 1.2em;
  }
}
