.social__content__skills__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.6rem;
  place-items: center;
}

.skills-frontend-content-card {
  padding: 0.7rem;
  max-width: 4rem;
  border-radius: var(--border-radius-med);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-sexto);
  box-shadow: var(--box-shadow);
  outline: var(--outline);
  cursor: pointer;
  position: relative;
}

.skills-frontend-content-card-img {
  width: 1.3rem;
}


@media (min-width: 700px) {
  .social__content__skills__cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
  .skills-frontend-content-card {
    padding: 1rem;
  }
  .skills-frontend-content-card-img {
    width: 2rem;
  }
}
